<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/stylesheet.css" | relative_url }}">
  <!-- <script src="{{ "/assets/js/system.js" | relative_url }}" charset="utf-8" type="text/javascript" defer></script>
  <script src='{{ "/assets/js/output.js" | relative_url }}' charset="utf-8" type="text/javascript" defer></script> -->
  <!-- <link rel="stylesheet" href="{{ "/assets/css/tachyons.min.css" | relative_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ "/assets/css/stylesheet.css" | relative_url }}"> -->
</head>
