@import "tachyons.min.css";
@import "monokai.css";

.lato {
  font-family: 'Lato', sans-serif;
}

.faded {
  transition: opacity .75s ease-in;
}

.bg-brownish {
  background: #fffcf3;
  background: linear-gradient(to top, #f9e7f0, #fffcf3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-yellowish {
  background: #fffcf3;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  color: rgba(0,0,0,0.6);
}

.article-content {
  font-size: 1.15rem;
}

.article-content a {
  color: #357edd;
  text-decoration: none;
}

.article-content a:hover {
  color: #357edd;
  text-decoration: underline;
}

.article-content p {
  font-family: athelas,georgia,serif;
}

.article-content code.highlighter-rouge {
  background-color: #eee;
  padding: 2px;
  font-size: 0.9rem;
  color: #ff4136;
}

.article-content blockquote {
  font-family: athelas,georgia,serif;
  margin-top: 0;
  margin-left: 0;
  padding-left: 2rem;
  color: rgba(0,0,0,0.9);
  border-width: .25rem;
  border-color: #333;
  border-left-style: solid;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  font-family: Consolas, monaco, monospace
}

.article-content blockquote p {
  max-width: 30em;
  font-size: 1.25rem;
  margin-top: 0;
  line-height: 1.5;
}

.article-content div.highlight {
  border-radius: .15rem;
  border-color: #777;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
}

.article-content pre {
  margin: 0;
  font-size: 0.85rem;
}

.fade {
  transition: opacity 250ms;
}

.article-content hr {
  border-bottom: gray;
  border-top-color: darkgray;
}


.article-content ul {
  font-weight: 600;
  font-family: Consolas, monaco, monospace;
  padding-left: 20px;
}

.article-content li {
  list-style-type: none;
}
