---
layout: default
---
{%- include header.html -%}
<article class="pt5-l pa3-l pa3 mt4 b--black-20 lh-copy fade">

    <div class="mw7 center">
    <h1 class="black-70 code">{{ page.title | escape }}</h1>
    <p class="gray ma0 f6 code"><strong>Publish date: </strong>{{ page.date | date: "%b %-d, %Y" }}</p>
    {% if page.tags.size > 0 %}
      <p class="gray ma0 f6 code">
        <strong>Tags: </strong>
        {%- for tag in page.tags -%}
          <span class="black-40">{{ tag }}</span>&nbsp;
        {%- endfor -%}
      </p>
    {% endif %}
    <div class="article-content">
      {{ content }}
    </div>
  </div>
</article>
