---
layout: default
---
<article class="pa5-l pa3 mt4 bt bg-white b--black-20 lh-copy">

    <div class="mw7 center">
    <h1 class="black-70">{{ page.title | escape }}</h1>
    <p class="gray ma0 f6"><strong>Publish date: </strong>{{ page.date | date: "%b %-d, %Y" }}</p>
    <p class="gray ma0 f6">
      <strong>Tags: </strong>
      {%- for tag in page.tags -%}
        <span class="black-40">{{ tag }}</span>&nbsp;
      {%- endfor -%}
    </p>
    <div class="article-content">
      {{ content }}
    </div>
  </div>
</article>
